<h1>Listing week_programs</h1>

<table>
  <thead>
    <tr>
      <th>Prosemmen fecha</th>
      <th>Branch</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @week_programs.each do |week_program| %>
      <tr>
        <td><%= week_program.prosemmen_fecha %></td>
        <td><%= week_program.Branch %></td>
        <td><%= week_program.Product %></td>
        <td><%= link_to 'Show', week_program %></td>
        <td><%= link_to 'Edit', edit_week_program_path(week_program) %></td>
        <td><%= link_to 'Destroy', week_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Week program', new_week_program_path %>
