<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @week_program.date %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @week_program.Branch %>
</p>

<p>
  <strong>Product:</strong>
  <%= @week_program.Product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @week_program.quantity %>
</p>

<%= link_to 'Edit', edit_week_program_path(@week_program) %> |
<%= link_to 'Back', week_programs_path %>
