<h1>Listing order_datails</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Product</th>
      <th>Peddet cantidad</th>
      <th>Peddet precio</th>
      <th>Peddet sub total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_datails.each do |order_datail| %>
      <tr>
        <td><%= order_datail.Order %></td>
        <td><%= order_datail.Product %></td>
        <td><%= order_datail.peddet_cantidad %></td>
        <td><%= order_datail.peddet_precio %></td>
        <td><%= order_datail.peddet_sub_total %></td>
        <td><%= link_to 'Show', order_datail %></td>
        <td><%= link_to 'Edit', edit_order_datail_path(order_datail) %></td>
        <td><%= link_to 'Destroy', order_datail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order datail', new_order_datail_path %>
