<%= form_for(@branch) do |b|%>
<div class = 'field'>
<% b.label :suc_nombre %>
<%= b.text_field :suc_nombre %>
</div>
<div class = 'field'>
<%= b.label :suc_direccion %>
<%= b.check_box :suc_direccion %>
</div>

<table>
  <thead>
    <tr>
      <th>codigo</th>
      <th>Ciudad</th>
      <th>Sucursal</th>
      <th>Direccion</th>
      <th>Mapa</th>
      <th>Editar</th>
      <th>Eliminar</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @branch.each do |br| %>
      <tr>
        <td><%= br.id  %></td>
        <td><%= br.location_id %></td>
        <td><%= br.suc_nombre %></td>
        <td><%= br.suc_direccion %></td>
        <button type=”submit”>Buscar</button>
        <button type=”submit”>Limpiar</button>
      </tr>
    <% end %>
  </tbody>
</table>

    <%= form_tag({:controller => "branch", :action => "index"}, :method => :get) do %>

    <%= text_field_tag "searchbox", params[:searchbox] %>

    <%= submit_tag "Buscar", :name => nil %>

    <% end %>