<%- model_class = Correlative -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Branch_id) %></th>
      <th><%= model_class.human_attribute_name(:document_type_id) %></th>
      <th><%= model_class.human_attribute_name(:series) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @correlatives.each do |correlative| %>
      <tr>
        <td><%= link_to correlative.id, correlative_path(correlative) %></td>
        <td><%= correlative.Branch_id %></td>
        <td><%= correlative.document_type_id %></td>
        <td><%= correlative.series %></td>
        <td><%= correlative.number %></td>
        <td><%=l correlative.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_correlative_path(correlative), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      correlative_path(correlative),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_correlative_path,
            :class => 'btn btn-primary' %>
