<%= form_for(@customer_address) do |f| %>
  <% if @customer_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_address.errors.count, "error") %> prohibited this customer_address from being saved:</h2>

      <ul>
      <% @customer_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Customer_id %><br>
    <%= f.text_field :Customer_id %>
  </div>
  <div class="field">
    <%= f.label :clidir_direccion %><br>
    <%= f.text_field :clidir_direccion %>
  </div>
  <div class="field">
    <%= f.label :Location_id %><br>
    <%= f.text_field :Location_id %>
  </div>
  <div class="field">
    <%= f.label :clidir_referencia %><br>
    <%= f.text_field :clidir_referencia %>
  </div>
  <div class="field">
    <%= f.label :clidir_telefono %><br>
    <%= f.text_field :clidir_telefono %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
