<h1>Listing customer_addresses</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Clidir direccion</th>
      <th>Location</th>
      <th>Clidir referencia</th>
      <th>Clidir telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_addresses.each do |customer_address| %>
      <tr>
        <td><%= customer_address.Customer %></td>
        <td><%= customer_address.clidir_direccion %></td>
        <td><%= customer_address.Location %></td>
        <td><%= customer_address.clidir_referencia %></td>
        <td><%= customer_address.clidir_telefono %></td>
        <td><%= link_to 'Show', customer_address %></td>
        <td><%= link_to 'Edit', edit_customer_address_path(customer_address) %></td>
        <td><%= link_to 'Destroy', customer_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer address', new_customer_address_path %>
