<%= link_to "Encuéntranos en", "www.menu-delicias.com/", :style => "margin-left:710px;"  %>
<%= image_tag "facebook_logo.ico", :alt => "Facebook", :title => "Facebook" , :size => "20x20" %>

<%= image_tag 'menu.jpg',:title => 'Menú', :size => "800x350", :style => "margin-left:50px; padding-bottom:15px;" %> 

    

    
    <div class="form-group">
      <label for="Sucursal">Sucursal</label>
      
       <td> <%= select_tag "cmb_sucursal", options_from_collection_for_select(@branches, 'id', 'name' , '1'), :style => "margin-left:20px;width:650px;" %></td>
      
    </div>
    
   <div class="form-group">
      <label for="Ciudad ">Ciudad</label>
      
        <td> <%= select_tag "cmb_sucursal", options_from_collection_for_select(@locations, 'id', 'description' , '1'), :style => "margin-left:20px;width:650px;" %></td> 
    </div>
    <div class="form-group">  
       <label for="Fecha ">Fecha</label>
      
       <td>  <%= select_tag "cmb_sucursal", options_from_collection_for_select(@wek_programs, 'id', 'date' , '1'), :style => "margin-left:20px;width:650px;" %></td> 
        </div>
        
        <div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped">
     <% if @products %>
 <table>
   <thead>
        <tr>
          <th>Menu Semana</th>
  </tr>
      </thead>
      <tbody>
<% @products.each do |products| %>
<tr>
    <td><%= products.name %></td>
  <% end %>
   </tbody>
    </table>
    
<% end %>
 </table>
  </div>
   
   <% if @week_programs %>
    

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Branch</th>
          <th>Product</th>
          <th>Quantity</th>
          
        </tr>
      </thead>
    
      <tbody>
        <% @week_programs.each do |week_program| %>
          <tr>
            <td><%= week_program.date %></td>
            <td><%= week_program.Branch %></td>
            <td><%= week_program.Product %></td>
            <td><%= week_program.quantity %></td>
         </tr>
        <% end %>
 </tbody>
    </table>
    <% end %>



  



<!--<button type="button" class="btn btn-default btn-lg active">Buscar</button>-->

<!--</table>-->

<!--<table class="table">-->
<!--<th>Entrada</th>-->
<!--<th>Segundo</th>-->
<!--<th>Postre</th>-->
<!--<th>Refresco</th>-->
<!--</table>-->