<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Identity_Type_id %><br>
    <%= f.text_field :Identity_Type_id %>
  </div>
  <div class="field">
    <%= f.label :tipdocide_numero %><br>
    <%= f.text_field :tipdocide_numero %>
  </div>
  <div class="field">
    <%= f.label :cli_appaterno %><br>
    <%= f.text_field :cli_appaterno %>
  </div>
  <div class="field">
    <%= f.label :cli_apmaterno %><br>
    <%= f.text_field :cli_apmaterno %>
  </div>
  <div class="field">
    <%= f.label :cli_nombre %><br>
    <%= f.text_field :cli_nombre %>
  </div>
  <div class="field">
    <%= f.label :Sex_id %><br>
    <%= f.text_field :Sex_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
