<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identity_type_id %><br>
    <%= f.collection_select  :identity_type_id, IdentityType.all, :id, :description, :selected => @customer.identity_type_id %>
  </div>
  <div class="field">
    <%= f.label :document_number %><br>
    <%= f.text_field :document_number %>
  </div>
  <div class="field">
    <%= f.label :first_last_name %><br>
    <%= f.text_field :first_last_name %>
  </div>
  <div class="field">
    <%= f.label :second_last_name %><br>
    <%= f.text_field :second_last_name %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mail %><br>
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :sex_id %><br>
    <%= f.collection_select  :sex_id, Sex.all, :id, :description, :selected => @customer.sex_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
