<h1>Listing customers</h1>




<table>
  <thead>
    <tr>
      <th>Identity type</th>
      <th>Document number</th>
      <th>First last name</th>
      <th>Second last name</th>
      <th>Name</th>
      <th>Mail</th>
      <th>Sex</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.identity_type %></td>
        <td><%= customer.document_number %></td>
        <td><%= customer.first_last_name %></td>
        <td><%= customer.second_last_name %></td>
        <td><%= customer.name %></td>
        <td><%= customer.mail %></td>
        <td><%= customer.sex %></td>
        <td><%= customer.user_id %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
