<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Identity type</th>
      <th>Tipdocide numero</th>
      <th>Cli appaterno</th>
      <th>Cli apmaterno</th>
      <th>Cli nombre</th>
      <th>Sex</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.Identity_Type.tipdocide_descripcion %></td>
        <td><%= customer.tipdocide_numero %></td>
        <td><%= customer.cli_appaterno %></td>
        <td><%= customer.cli_apmaterno %></td>
        <td><%= customer.cli_nombre %></td>
        <td><%= customer.Sex.sex_descripcion %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
