<p id="notice"><%= notice %></p>

<p>
  <strong>Identity type:</strong>
  <%= @customer.identity_type %>
</p>

<p>
  <strong>Document number:</strong>
  <%= @customer.document_number %>
</p>

<p>
  <strong>First last name:</strong>
  <%= @customer.first_last_name %>
</p>

<p>
  <strong>Second last name:</strong>
  <%= @customer.second_last_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @customer.mail %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @customer.sex %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
