<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Branch</th>
      <th>Customer</th>
      <th>Ped fecha solicitud</th>
      <th>Ped fecha entrega</th>
      <th>Ped hora entrega</th>
      <th>Ped total</th>
      <th>Ped estado</th>
      <th>Perso atendio</th>
      <th>Tipdoc codigo</th>
      <th>Cor serie</th>
      <th>Ped fecha comprobante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.Branch %></td>
        <td><%= order.Customer %></td>
        <td><%= order.ped_fecha_solicitud %></td>
        <td><%= order.ped_fecha_entrega %></td>
        <td><%= order.ped_hora_entrega %></td>
        <td><%= order.ped_total %></td>
        <td><%= order.ped_estado %></td>
        <td><%= order.perso_atendio %></td>
        <td><%= order.tipdoc_codigo %></td>
        <td><%= order.cor_serie %></td>
        <td><%= order.ped_fecha_comprobante %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
