<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Branch</th>
      <th>Customer</th>
      <th>Date application</th>
      <th>Delivery date</th>
      <th>Delivery time</th>
      <th>Total</th>
      <th>Flag</th>
      <th>Staff</th>
      <th>Document type</th>
      <th>Series</th>
      <th>Date voucher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.Branch %></td>
        <td><%= order.Customer %></td>
        <td><%= order.date_application %></td>
        <td><%= order.delivery_date %></td>
        <td><%= order.delivery_time %></td>
        <td><%= order.total %></td>
        <td><%= order.flag %></td>
        <td><%= order.staff %></td>
        <td><%= order.Document_type %></td>
        <td><%= order.series %></td>
        <td><%= order.date_voucher %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
