<p id="notice"><%= notice %></p>

<p>
  <strong>Branch:</strong>
  <%= @order.Branch %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.Customer %>
</p>

<p>
  <strong>Date application:</strong>
  <%= @order.date_application %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @order.delivery_date %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @order.delivery_time %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @order.flag %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @order.staff %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @order.Document_type %>
</p>

<p>
  <strong>Series:</strong>
  <%= @order.series %>
</p>

<p>
  <strong>Date voucher:</strong>
  <%= @order.date_voucher %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
