<h1>Listing correlatives</h1>

<table>
  <thead>
    <tr>
      <th>Branch</th>
      <th>Document type</th>
      <th>Series</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @correlatives.each do |correlative| %>
      <tr>
        <td><%= correlative.Branch %></td>
        <td><%= correlative.document_type %></td>
        <td><%= correlative.series %></td>
        <td><%= correlative.number %></td>
        <td><%= link_to 'Show', correlative %></td>
        <td><%= link_to 'Edit', edit_correlative_path(correlative) %></td>
        <td><%= link_to 'Destroy', correlative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Correlative', new_correlative_path %>
