<p id="notice"><%= notice %></p>

<p>
  <strong>Branch:</strong>
  <%= @correlative.Branch %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @correlative.document_type %>
</p>

<p>
  <strong>Series:</strong>
  <%= @correlative.series %>
</p>

<p>
  <strong>Number:</strong>
  <%= @correlative.number %>
</p>

<%= link_to 'Edit', edit_correlative_path(@correlative) %> |
<%= link_to 'Back', correlatives_path %>
