<h1>Listing identuty_types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @identuty_types.each do |identuty_type| %>
      <tr>
        <td><%= identuty_type.description %></td>
        <td><%= link_to 'Show', identuty_type %></td>
        <td><%= link_to 'Edit', edit_identuty_type_path(identuty_type) %></td>
        <td><%= link_to 'Destroy', identuty_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Identuty type', new_identuty_type_path %>
