<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ubi_codigo %><br>
    <%= f.text_field :ubi_codigo %>
  </div>
  <div class="field">
    <%= f.label :ubi_departamento %><br>
    <%= f.text_field :ubi_departamento %>
  </div>
  <div class="field">
    <%= f.label :ubi_provincia %><br>
    <%= f.text_field :ubi_provincia %>
  </div>
  <div class="field">
    <%= f.label :ubi_distrito %><br>
    <%= f.text_field :ubi_distrito %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
